.about_page {
  margin-block: 2rem;
}

.sec_sp {
  margin-bottom: 1rem;
  font-size: 14px;
}

.table td,
.table th {
  color: var(--text-color);
}

.t_border {
  border-color: var(--text-color) !important;
}

.skill_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1.5rem;
  padding: 1rem 80px;
}

.skill_box {
  padding: 1rem;
  cursor: pointer;
  height: 18rem;
}

.skill_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill_title h3 {
  margin: 0.5rem;
}

.skill_box:hover>.skill_title:after,
.skill_box:hover>.skill_title:before {
  width: 35px;
}

.skill_box:hover img {
  transform: translateY(-10px);
}

.skill_title:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: var(--text-color-3);
  transition: 0.5s;
}

.skill_title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: var(--text-color-3);
  transition: 0.5s;
}

.skill_img {
  height: 90px;
  width: 90px;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.section-title {
  font-size: 45px;
}

.service__title {
  padding: 8px 0;
  border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {
  padding-bottom: 4px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@media screen and (max-width: 1300px) {
  .skill_container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 990px) {
  .skill_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .about_page {
    margin-top: 3rem;
  }

  .skill_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .skill_container {
    grid-template-columns: repeat(1, 1fr);
  }
}