.site__header {
  top: 0.5rem;
  padding-inline: calc(15% - 60px);
  font-size: 1rem;
  height: 5rem;
  background-color: var(--bg-color);
}

.menu {
  height: 5rem;
}

.menu__container {
  margin-block: auto;
}

.cortina__wrapper-menu {
  position: relative;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 3em;
  height: 100%;
  overflow-y: auto;
}

.site__navigation {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu__opend {
  visibility: visible !important;
}

.main__menu_ul,
.menu_right {
  opacity: 0;
  position: relative;
  transition: 0.5s;
  transition-delay: 0s;
  visibility: hidden;
  z-index: 100;
}

.menu_right {
  text-align: center;
}

.site__navigation.menu__opend .main__menu_ul,
.site__navigation.menu__opend .menu_right {
  opacity: 1;
  transition-delay: 0.6s;
  visibility: visible;
}

.site__navigation .main__menu_ul li {
  list-style: none;
  margin: 10px 0;
}

.site__navigation .main__menu_ul li a {
  color: var(--text-color);
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
}

.menu__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.menu .menu_item>a {
  color: var(--text-color-2);
  line-height: 1;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0, 0, 0.58, 1) 0s;
  padding: 4px 0px;
  text-decoration: none;
  font-family: Marcellus;
}

.menu .menu_item>a:hover {
  color: var(--text-color-3);
}

.logo {
  background-repeat: no-repeat;
  background-image: url('../assets/images/pepper.png');
  margin-block: auto;
  width: 4rem;
  height: 4rem;
}

.logo:hover {
  background-image: url('../assets/images/red-pepper.png');
  animation: shaking 0.45s infinite;
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .logo {
    width: 3rem;
    height: 3rem;
    background-size: contain;
  }
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

  .menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 530px) {
  .menu .menu_item>a {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .menu .menu_item>a {
    font-size: 0.9rem;
  }
}